
h1 {
        text-align: center;
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 2em;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bold;
        padding: 50px ;
        background-color: silver;      }

      h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px ;
        font-weight: bold;
      }
      body {
         font-style: Arial;
         font-size: 20px;
          line-height: 18px;
        padding-left: 40px;
        background-color: rosybrown;
    }
    main {
      height: ;
    }

      ul {
        padding: 20px;
      }
      ul li {
        margin: 5px;
        list-style: circle;
      }

     p {
      padding: 20px;
     }