
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
    line-height: 18px;
  padding-left: 40px;
  background-color: rgb(145, 192, 201);
  color: #4c4a37; 
}

h1 {
        text-align: center;
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 2em;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bold;
        padding: 50px ;
        text-transform: uppercase;
        background-color:#d4c465;
      	text-shadow: 0 2px white, 0 3px #777;
} 

        
      h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        padding: 20px ;
        font-weight: bold;
        text-shadow: 0 2px white, 0 3px #777;
        background-color: rgb(238, 217, 178);        

      }
      
    

      ul {
        padding: 20px;
      }
      ul li {
        margin: 5px;
        list-style: circle;
      }

      footer {
          padding: 10px;
          border: solid;
          border-color: #bbbbaa #0d5a3a #b89f15 #0d5a3a;}

          p { 
            color: #4c4a37; 
            font-family: 'Times New Roman', Times, serif;
             font-size: 18px; line-height: 32px;
             margin: 0 0 24px;
             padding: 20px;
             font-weight: bold;
             }

              /*p {
      padding: 20px;
     }*/
     
     /*p { width: 275px; border: 2px solid #2b6e65;} p.example { padding: 10px;}
 
        /*width: 300px; 
        padding: 50px; 
        border: 20px solid #2b6e65;}*/